<% include ../partials/header %>

<section id="intro">
<div class="container" id="yelp-header">
    <header>
        <div class="container">
         
        <h1>Welcome to YelpCamp</h1>
        <p>Hand-picked campgrounds from all over the world</p>
        
        <p>
            
        <a href="#label"><span id="arrow" class="glyphicon glyphicon-menu-down"></span></a>
        
            
        </p>
    </div>
</div>
</header>
</section>

        <div class="row" id="label">
            <div class="col-lg-12">
                <h3>What is YelpCamp?</h3>
                <p>Add your favorite campgrounds from all over the world. Create your own listing with uploaded pictures, Google map locations, camping prices, and comment on other member's campsites.</p>
                <p> 
                    Correlation fairness B-corp parse citizen-centered, design thinking strategy inspirational social innovation. Preliminary thinking, communities, external partners program areas, 
                    families movements gender rights corporate social responsibility.
                    Greenwashing social entrepreneur B-corp thought partnership; social entrepreneurship, correlation low-hanging fruit problem-solvers collaborative consumption.
                </p>
                <span id="tent" class="glyphicon glyphicon-tent"></span><h4>Get started:</h4>
                <p>
            <a class="btn btn-success btn-sm" href="/campgrounds/new">Add New Campground!</a>
        </p>
    </div>
    
</div>
<div class="container" id="camps">
    <div>
        <h3>Our Favorite Campgrounds <span id="tent2" class="glyphicon glyphicon-tent"></span></h3> 
    </div>
    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                     <img src=" <%=campground.image%> ">
                     <div class="caption">
                         <h4><%=campground.name%></h4>
                     </div>
                     <p>
                         <a href="/campgrounds/<%=campground._id%>" class="btn btn-primary">More Info</a>
                     </p>
                 </div>
            </div>
        <% }); %>
    </div>

</div>

<% include ../partials/footer %>